{# empty Twig template #}
{% extends 'AcmeDemoBundle::layout.html.twig' %}

    <h1 class="title">Welcome Test!</h1>

    <p>Congratulations! You have successfully installed a new Symfony application</p>